.item b {
  margin-bottom: 10px;
  color: #5fa36a;
}

.item {
  position: relative;
  width: 30%;
  margin-bottom: 30px;
  background-color: #f5f5f5;
  overflow: hidden;
  border-radius: 10px;
}
.item .image {
  position: relative;
  width: 100%;
  padding: 0 0 67% 0;
  transition: 0.3s ease;
}
.item .image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item .image:hover {
  transform: scale(1.1);
}
.item .content {
  padding: 20px 10px;
}

.item .addToCart {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
