header {
  position: relative;
}

.logo {
  font-weight: 600;
  font-size: 20px;
}

ul.nav {
  float: right;
  list-style: none;
}

ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: 0.2s ease;
}

ul.nav li:hover {
  opacity: 0.5;
}

.shop_cart_button {
  float: right;
  cursor: pointer;
  transition:
    color,
    transform 0.2s ease;
}
.shop_cart_button:hover,
.active {
  color: #dc3d3d;
  transform: scale(1.5);
}

.cartItem {
  width: 100%;
}

.presentations {
  position: relative;
  margin: 50px 0;
  width: 100%;
  height: 500px;
  background: url("../../assets/img/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: grey;
}

.presentations::after {
  content: "Лучшие товары для вашего дома";
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.presentations::before {
  content: "По низким ценам";
  position: absolute;
  top: 250px;
  left: 55px;
  width: 300px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}
